<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Charlottesville forum is here!</h1>
      <p class="lead">The best platform for daily information exchange, such as markerting, renting, rides, etc.</p>
    </div>
  </div>
<div class="container">
  <div class="row text-center">
      <div class="col-4">
        <h4>Market</h4>
      </div>
      <div class="col-4">
          <h4>Renting</h4>
      </div>
      <div class="col-4">
          <h4>Rides</h4>
      </div>
  </div>
</div>
