<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image: url(assets/img/bg-04.jpg); height: %100; width: %100; border: 1px solid black;">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal" style="color:floralwhite;">Cville Forum</h1>
    <p class="lead font-weight-normal" style="color:Government;">Best Forum in Charlottesville. Share your
      information, make a better world!</p>
    <!-- <a class="btn btn-outline-secondary" href="#" style="color:whitesmoke;">Log in</a> -->
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5"><a class="text-light" [routerLink]="['/market']" routerLinkActive="router-link-active">Market</a>
      </h2>
      <!-- <p class="lead">And an even wittier subheading.</p> -->
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <div class="container text-dark">
        <div *ngFor="let entry  of marketEntries">
          <a class="text-dark" [routerLink]="['/market/market-detail', entry.id]" routerLinkActive="router-link-active">{{entry.title_en}}</a>
          <div class="mb-1 text-muted">{{entry.user}} &lt;{{entry.email}}&gt; {{entry.created | date: 'medium'}}</div>
          <p class="mb-auto">{{entry.desc_en | slice:0:300}}...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5"><a class="text-dark" [routerLink]="['/renting']" routerLinkActive="router-link-active">Renting</a>
      </h2>
      <!-- <p class="lead">And an even wittier subheading.</p> -->
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <div class="container text-light">
        <div *ngFor="let entry  of rentingEntries">
          <a class="text-light" [routerLink]="['/renting/renting-detail', entry.id]" routerLinkActive="router-link-active">{{entry.title_en}}</a>
          <div class="mb-1 text-light">{{entry.user}} &lt;{{entry.email}}&gt; {{entry.created | date: 'medium'}}</div>
          <p class="mb-auto">{{entry.desc_en | slice:0:300}}...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5"><a class="text-dark" [routerLink]="['/rides']" routerLinkActive="router-link-active">Rides</a>
      </h2>
      <!-- <p class="lead">And an even wittier subheading.</p> -->
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <div class="container text-light">
        <div *ngFor="let entry  of ridesEntries">
          <a class="text-light" [routerLink]="['/rides/rides-detail', entry.id]" routerLinkActive="router-link-active">{{entry.title_en}}</a>
          <div class="mb-1 text-light">{{entry.user}} &lt;{{entry.email}}&gt; {{entry.created | date: 'medium'}}</div>
          <p class="mb-auto">{{entry.desc_en | slice:0:300}}...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5"><a class="text-light" [routerLink]="['/others']" routerLinkActive="router-link-active">Others</a>
      </h2>
      <!-- <p class="lead">And an even wittier subheading.</p> -->
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <div class="container text-light">
        <div *ngFor="let entry  of othersEntries">
          <a class="text-light" [routerLink]="['/others/others-detail', entry.id]" routerLinkActive="router-link-active">{{entry.title_en}}</a>
          <div class="mb-1 text-light">{{entry.user}} &lt;{{entry.email}}&gt; {{entry.created | date: 'medium'}}</div>
          <p class="mb-auto">{{entry.desc_en | slice:0:300}}...</p>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
        <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
        <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
        <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
        <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
        <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
      </svg>
      <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Support</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Events</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Business</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
      </ul>
    </div>
  </div>
</footer>



<!-- <footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
        <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
        <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
        <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
        <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
        <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
      </svg>
      <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cool stuff</a></li>
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
        <li><a class="text-muted" href="#">Another one</a></li>
        <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Business</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
        <li><a class="text-muted" href="#">Government</a></li>
        <li><a class="text-muted" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer> -->


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script>
  Holder.addTheme('thumb', {
    bg: '#55595c',
    fg: '#eceeef',
    text: 'Thumbnail'
  })
</script> -->