<div class="container">
  <h2>{{rentingEntry?.title_en}}</h2>
  <h4>{{rentingEntry?.user}} &lt;{{rentingEntry?.email}}&gt; {{rentingEntry?.created | date: 'medium'}}</h4>
  <p>{{rentingEntry?.desc_en}}</p>
  <ul style="list-style: none">
    <li *ngFor="let item of rentingEntry?.rentingItems" style="float: left">
      <div class="card" style="width: 8rem;">
        <img class="card-img-top img-responsive rounded" [src]="item.image">
        <!-- <div class="card-body"> -->
        <p class="m-auto">{{item.price | currency:'USD':true}} * {{item.itemNum}}</p>
        <!-- </div> -->
      </div>
    </li>
  </ul>
  <ul style="list-style: none">
    <li *ngFor="let image of rentingEntry?.imagePaths" style="float: left">
      <img [src]="image" alt="" class="img-thumbnail .img-fluid .img-responsive col-xs-12 col-md-6 col-lg-4">
    </li>
  </ul>

  <!-- <ul style="list-style: none">
      <li *ngFor="let item of rentingEntry?.imagePaths" style="float: left">
        <div class="card" style="width: 8rem;">
          <img class="card-img-top img-responsive rounded" [src]="image">
        </div>
      </li>
    </ul> -->

</div>